<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CoreServiceEndpoint" value="wsHttp_201603" />
    <add key="TridionUsername" value="TridionUsername" />
    <add key="TridionPassword" value="TridionPassword"/>
    <add key="RootStructureGroupId" value="tcm:24-2022-4"/>
     <add key="PublishTargetIdStaging" value="tcm:0-11-65538"/>
     <add key="PublishTargetIdLive" value="tcm:0-12-65538"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <!-- Default/example WCF settings for Core Service. These settings should be copied into the host application's configuration file. -->
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" maxArrayLength="10485760" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="streamDownload_basicHttp" sendTimeout="00:10:00"
          maxReceivedMessageSize="209715200" transferMode="StreamedResponse"
          messageEncoding="Mtom">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="streamUpload_basicHttp" receiveTimeout="00:10:00"
          maxReceivedMessageSize="209715200" transferMode="StreamedRequest"
          messageEncoding="Mtom">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="netFederationTcp" sendTimeout="00:01:00">
          <transactionFlow transactionProtocol="OleTransactions" />
          <security authenticationMode="SecureConversation" requireSecurityContextCancellation="true"
            requireSignatureConfirmation="false">
            <secureConversationBootstrap authenticationMode="IssuedTokenForCertificate"
              requireSignatureConfirmation="false">
              <issuedTokenParameters keySize="256" keyType="SymmetricKey" tokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0" />
            </secureConversationBootstrap>
          </security>
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          </binaryMessageEncoding>
          <tcpTransport maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="netTcp" sendTimeout="00:01:00" transactionFlow="true"
          transactionProtocol="OleTransactions" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="5120" maxNameTableCharCount="81920" />
        </binding>
        <binding name="streamDownload_netTcp" sendTimeout="00:10:00"
          transferMode="StreamedResponse" maxReceivedMessageSize="2147483647" />
        <binding name="streamUpload_netTcp" receiveTimeout="00:10:00"
          transferMode="StreamedRequest" maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
      <ws2007FederationHttpBinding>
        <binding name="wsFederationHttp" transactionFlow="true" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" maxArrayLength="10485760" />
          <security mode="Message">
            <message issuedKeyType="SymmetricKey" issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0"
              negotiateServiceCredential="false" />
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttp" transactionFlow="true" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" maxArrayLength="10485760" />
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/webservices/CoreService201603.svc/basicHttp"
        binding="basicHttpBinding" bindingConfiguration="basicHttp"
        contract="Tridion.ContentManager.CoreService.Client.ICoreService"
        name="basicHttp_201603" />
      <endpoint address="http://localhost/webservices/CoreService201603.svc/streamDownload_basicHttp"
        binding="basicHttpBinding" bindingConfiguration="streamDownload_basicHttp"
        contract="Tridion.ContentManager.CoreService.Client.IStreamDownload"
        name="streamDownload_basicHttp_201603" />
      <endpoint address="http://localhost/webservices/CoreService201603.svc/streamUpload_basicHttp"
        binding="basicHttpBinding" bindingConfiguration="streamUpload_basicHttp"
        contract="Tridion.ContentManager.CoreService.Client.IStreamUpload"
        name="streamUpload_basicHttp_201603" />
      <endpoint address="http://localhost/webservices/CoreService201603.svc/wsHttp"
        binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="Tridion.ContentManager.CoreService.Client.ISessionAwareCoreService"
        name="wsHttp_201603">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:2660/CoreService/201603/netTcp"
        binding="netTcpBinding" bindingConfiguration="netTcp" contract="Tridion.ContentManager.CoreService.Client.ISessionAwareCoreService"
        name="netTcp_201603" />
      <endpoint address="net.tcp://localhost:2660/CoreService/201603/streamDownload_netTcp"
        binding="netTcpBinding" bindingConfiguration="streamDownload_netTcp"
        contract="Tridion.ContentManager.CoreService.Client.IStreamDownload"
        name="streamDownload_netTcp_201603" />
      <endpoint address="net.tcp://localhost:2660/CoreService/201603/streamUpload_netTcp"
        binding="netTcpBinding" bindingConfiguration="streamUpload_netTcp"
        contract="Tridion.ContentManager.CoreService.Client.IStreamUpload"
        name="streamUpload_netTcp_201603" />
      <endpoint address="net.tcp://localhost:2660/CoreService/201603/batch_netTcp"
        binding="netTcpBinding" bindingConfiguration="netTcp" contract="Tridion.ContentManager.CoreService.Client.ICoreServiceBatch"
        name="batch_netTcp_201603" />
      <endpoint address="http://localhost/webservices/CoreService201603.svc/wsFederationHttp"
        binding="ws2007FederationHttpBinding" bindingConfiguration="wsFederationHttp"
        contract="Tridion.ContentManager.CoreService.Client.ISessionAwareCoreService"
        name="wsSamlHttp_201603">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:2660/CoreService/201603/netFederationTcp"
        binding="customBinding" bindingConfiguration="netFederationTcp"
        contract="Tridion.ContentManager.CoreService.Client.ISessionAwareCoreService"
        name="netSamlTcp_201603" />
      <endpoint address="net.tcp://localhost:2660/CoreService/201603/batch_netFederationTcp"
        binding="customBinding" bindingConfiguration="netFederationTcp"
        contract="Tridion.ContentManager.CoreService.Client.ICoreServiceBatch"
        name="batch_netSamlTcp_201603" />
    </client>
  </system.serviceModel>
</configuration>
